<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Inventory"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.Inventory">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginActivity" android:parentActivityName=".MainActivity" />
        <activity android:name=".RegisterActivity" android:parentActivityName=".MainActivity" />
        <activity android:name=".HomeActivity" />

        <!-- User Related Activities -->
        <activity android:name=".EditProfileActivity" android:parentActivityName=".HomeActivity" />

        <!-- Warehouse Related Activities -->
        <activity android:name=".WarehousesActivity" android:parentActivityName=".HomeActivity" />
        <activity android:name=".AddWarehouseActivity" android:parentActivityName=".WarehousesActivity" />
        <activity android:name=".WarehouseStocksActivity" android:parentActivityName=".WarehousesActivity" />
        <activity android:name=".AddWarehouseStockActivity" android:parentActivityName=".WarehouseStocksActivity" />
        <activity android:name=".EditWarehouseActivity" android:parentActivityName=".WarehouseStocksActivity" />

        <!-- Employee Related Activities -->
        <activity android:name=".EmployeesActivity" android:parentActivityName=".HomeActivity" />
        <activity android:name=".AddEmployeeActivity" android:parentActivityName=".EmployeesActivity" />

        <!-- Vehicle Related Activities -->
        <activity android:name=".VehiclesActivity" android:parentActivityName=".HomeActivity" />
        <activity android:name=".AddVehicleActivity" android:parentActivityName=".VehiclesActivity" />

        <!-- Brands Related Activities -->
        <activity android:name=".BrandsActivity" android:parentActivityName=".HomeActivity" />

        <!-- Category Related Activities -->
        <activity android:name=".CategoriesActivity" android:parentActivityName=".HomeActivity" />

        <!-- Products Related Activities -->
        <activity android:name=".ProductsActivity" android:parentActivityName=".HomeActivity" />
        <activity android:name=".AddProductActivity" android:parentActivityName=".ProductsActivity" />

        <!-- Suppliers Related Activities -->
        <activity android:name=".SuppliersActivity" android:parentActivityName=".HomeActivity" />
        <activity android:name=".AddSupplierActivity" android:parentActivityName=".SuppliersActivity" />

        <!-- Consumer Related Activities -->
        <activity android:name=".ConsumersActivity" android:parentActivityName=".HomeActivity" />
        <activity android:name=".AddConsumerActivity" android:parentActivityName=".ConsumersActivity" />
        <!-- TODO: ViewConsumerActivity -->
        <!-- TODO: EditConsumerActivity's parent must be ViewConsumerActivity -->
        <activity android:name=".EditConsumerActivity" android:parentActivityName=".ConsumersActivity" />
    </application>

</manifest>